html { 
    overscroll-behavior: none;
}

body {
    font-size: 20px;
    color: white;
    margin :0;
    height: 1125px;
    background: black;
}

p {
    margin: 0;
}

.container {
    position: relative;
    top: 0;
    width :100%;
    height: 100%;
    background-color: grey;
    background-image: url("../General_Images_&_Icons/background.svg");
    background-size: cover;
    background-blend-mode: multiply;
}

.topsection {
    position: inherit;
    display : flex;
    width : 100%;
}

.elementcol {
    position: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height : 100%;
}

.elementrow {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
}

.double {
    position: inherit;
    display: flex;
    flex-direction: column;
    width : 20%;
    height : 80%;
}

.flexrow {
    display: flex;
    flex-direction: row;
}

.flexcol {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tomiddle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin:4% 2% 0;
}

.subelement{
    position: inherit;
    height: 100%;
}

.sub-element-second{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: inherit;
    width: 100%;
    height: 50%;
}

.rest{
    position: inherit;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.height-hundred {
    height: 100%;
}

.width-thirty {
    width: 30%;
}

.width-fifty{
    width: 50%;
}

.width-forty {
    width: 40%;
}

.width-sixty {
    width: 60%;
}

.width-seventy {
    width : 70%;
}

select {
    opacity: 0.5;
    background-color: transparent;
}

.citiesform {
    width: 100%;
    height: 100%;
}

.drop-down {
    appearance: none;
    background: url("../General_Images_&_Icons/arrow-216-64.png") no-repeat 90% grey;
    border: none;
    bottom: 0;
    box-sizing: border-box;
    color: rgb(255 255 151);
    cursor: pointer;
    font-size:calc(14px + 2vw);
    height:50%;
    line-height: 1.5;
    position: absolute;
    text-align: center;
    width: 100%;
}

#first-seg {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    width: 100%;
}

#second-seg {
    display: flex;
    align-items:start;
    height: 40%;
    width: 70%;
}

.timecontainer {
    position:relative;
}

.amcontainer {
    position: relative;
}

.datecontainer {
    position:relative; 
}

.time {
    width: 100%;
    position: absolute;
    bottom:0;
    margin: 0;
    color: rgb(231 203 63);
}

#date {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(225 220 220);
    font-size: 1.5vw;
    width: 100%;
    margin: 2px 0 0;
}

.innerspace {
    height: 20%;
}

.innercont {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 70%;
    width: 100%;
}

.borright {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-right: 1px dotted rgba(255 255 255 / 30%);
}

.inner-cont-second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
}

#am {
    position: absolute;
    bottom: 0;
    left: 0;
    aspect-ratio: 1/1;
    max-width: 85px;
}

.hrscols {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content:center;
    align-items: center;
}

.inner-cont-third {
    height: 25%;
    color: white;
}

.weather {
    margin: 0 0 0 5px;
    aspect-ratio: 1/1;
    width: 2vw;
}

@media (width <= 525px){

    .topsection {
        flex-direction:column;
        height : 50%;
    }

    .innercontainer {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 50%;
    }

    #first-seg {
        height: 70%;
    }

    #seconds {
        font-size: 2vw;
    }

    .heading-second {
        font-family: Arial, Helvetica, sans-serif;
        font-size: calc(6px + 1vw);
        color:rgb(216 205 205);
    }

    .headings {
        font-family: Arial, Helvetica, sans-serif;
        margin : 5px 0 0;
        font-size: calc(6px + 1vw);
        color:rgb(216 205 205);
    }

    .celfah {
        font-size: calc(10px + 2vw);
        margin : 1% 0 0;
        color: white;
    }

    #date{
        font-size: calc(8px + 0.5vw);
    }

    #am {
        width: 50%;
    }

    .elementcol {
        width : 25%;
    }

    .gap-five {
        margin: 5% 0;
    }

    .flexrow {
        justify-content: center;
        height: 60%;
    }

    .flexcol {
        height: 40%;
    }

    .half {
        width : 100%;
    }

    .subelement img{
        position: absolute;
        width: 90%;
        aspect-ratio: 1/1;
        min-height: 30px;
        bottom : -5px;
        left: 0;
        min-width: 30px;
        max-width: 95px;
        max-height: 95px;
    }

    .tomiddle {
        height: 80%;
    }

    .drop-down {
        background-size: 10% 50%;
    }

    .time {
        font-size: 3.5vw;
    }
}

@media (525px <= width <= 850px) {
    .gap-five {
        margin: 5% 0;
    }

    .topsection {
        flex-direction:column;
        height : 50%;
    }

    .innercontainer {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 50%;
    }

    .elementcol {
        width : 25%;
    }

    .flexrow {
        justify-content: center;
        height: 60%;
    }

    .flexcol {
        height: 40%;
    }

    .half {
        width : 100%;
    }

    .tomiddle {
        height: 80%;
    }

    .subelement img{
        aspect-ratio: 1/1;
        bottom : -5px;
        left: 0;
        max-height: 95px;
        max-width: 95px;
        min-height: 30px;
        min-width: 30px;
        position: absolute;
        width: 90%;
    }

    .drop-down {
        background-size: 8% 50%;
    }    

    #first-seg {
        height: 70%;
    }

    .time {
        font-size: 3.5vw;
    }

    #am {
        width: 50%;
    }

    #seconds {
        font-size: 2vw;
    }

    .heading-second {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.8vw;
        color:rgb(216 205 205);
    }

    .headings {
        font-family: Arial, Helvetica, sans-serif;
        margin : 5px 0 0;
        font-size: 2vw;
        color:rgb(216 205 205);
    }

    .celfah {
        font-size: 4vw;
        margin : 1% 0 0;
        color: white;
    }
}
@media (width >= 850px)  {

    .topsection {
        flex-direction: row;
        height : 40%;
    }

    .innercontainer {
        display: flex;
        flex-direction: column;
        height: 85%;
        width: 60%;
    }
    
    .elementcol {
        width : 20%;
    }

    .gap-five {
        margin-bottom: 5%;
    }

    .half {
        width : 50%;
        height : 100%;
    }

    .tomiddle {
        height: 50%;
    }

    .subelement img {
        position: absolute;
        width: 90%;
        aspect-ratio: 1/1;
        min-height: 30px;
        bottom : -5px;
        left: 0;
        min-width: 30px;
        max-width: 120px;
        max-height: 120px;
    }

    .drop-down {
        background-size: 10% 50%;
    }

    #first-seg {
        height: 60%;
    }

    #second-seg {
        margin: 0 15%;
    }

    .time {
        font-size: 2.5vw;
    }

    #am {
        width: 80%;
    }

    #seconds {
        font-size: 1.5vw;
    }

    .heading-second {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.3vw;
        color:rgb(216 205 205);
    }

    .headings {
        font-family: Arial, Helvetica, sans-serif;
        margin : 5px 0 0;
        font-size: 1.5vw;
        color:rgb(216 205 205);
    }

    .celfah {
        font-size: 3vw;
        margin : 1% 0 0;
        color: white;
    }
}