@media (525px <= width <= 950px) {
    body {
        font-size: 20px;
        color: white;
        margin :0;
        height: 100vh;
        background: rgb(0 0 0);
    }

    p {
        margin: 0;
    }

    .container {
        position: relative;
        top: 0;
        width :100%;
        height: 100%;
        background-color: grey;
        background-image: url("../General_Images_&_Icons/background.svg");
        background-size: cover;
        background-blend-mode: multiply;
    }

    .topsection {
        position: inherit;
        display : flex;
        flex-direction:column;
        height : 450px;
        width : 100%;
    }

    .innercontainer {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 50%;
    }

    .elementcol {
        position: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width : 25%;
        height : 100%;
    }

    .elementrow {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 50%;
    }

    .gap-five {
        margin: 5% 0;
    }

    .double {
        position: inherit;
        display: flex;
        flex-direction: column;
        width : 20%;
        height : 80%;
    }

    .flexrow {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 60%;
    }

    .flexcol {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 40%;
    }

    .half {
        width : 100%;
    }

    .tomiddle {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 70%;
        margin:0 10%;
    }

    .subelement{
        position: inherit;
        height: 100%;
    }

    .sub-element-second{
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        position: inherit;
        width: 100%;
        height: 50%;
    }

    .rest{
        display: flex;
        flex-direction: column;
        height: 100%;
        position: inherit;
    }

    .subelement img{
        aspect-ratio: 1/1;
        bottom : -5px;
        left: 0;
        max-height: 110px;
        max-width: 110px;
        min-height: 30px;
        min-width: 30px;
        position: absolute;
        width: 90%;
    }

    select {
        background-color: transparent;
    }

    .citiesform {
        width: 100%;
        height: 100%;
    }

    .drop-down {
        appearance: none;
        background: url("../General_Images_&_Icons/arrow-216-64.png") no-repeat 90% #83838340;
        background-size: 8% 50%;
        border: none;
        bottom: 0;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        font-size:calc(14px + 2vw);
        height:50%;
        line-height: 1.5;
        position: absolute;
        padding-left: 10px;
        width: 100%;
        font-weight: 100;
    }

    #first-seg {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: end;
        height: 70%;
        width: 100%;
    }

    .height-hundred {
        height: 100%;
    }

    .width-thirty {
        width: 30%;
    }

    .width-fifty{
        width: 50%;
    }

    .width-forty {
        width: 40%;
    }

    .width-sixty {
        width: 60%;
    }

    .width-seventy {
        width : 70%;
    }

    #second-seg {
        display: flex;
        align-items:start;
        height: 40%;
        width: 70%;
    }

    .timecontainer {
        display: flex;
        width: fit-content;
        align-items: start;
        position:relative;
        height: fit-content;
    }

    .amcontainer {
        position: relative;
    }

    .datecontainer {
        position:relative; 
    }

    .time {
        position: relative;
        font-size: calc(24px + 1vw);
        color: #ffe5b4;
    }

    #am {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        aspect-ratio: 1/1;
        max-width: 85px;
        min-width: 60px;
        margin-left: 5px;
    }

    #seconds {
        font-size: calc(10px + 1vw);
    }

    #date {
        color: rgb(225 220 220);
        font-size:calc(8px + 0.8vw);
        width: 100%;
        margin: 2px 0 0;
    }

    .innerspace {
        height: 20%;
    }

    .innercont {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        height: 70%;
        width: 100%;
    }

    .borright {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-right: 1px dotted rgba(255 255 255 / 30%);
    }

    .inner-cont-second {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 70%;
        width: 100%;
    }

    .heading-second {
        font-size: 1.8vw;
        color:rgb(216 205 205);
    }

    .headings {
        margin : 5px 0 0;
        font-size: 2vw;
        color:rgb(216 205 205);
        font-weight: 100;
    }

    .celfah {
        font-size: 4vw;
        margin : 1vh 0 0;
        color: white;
    }

    .hrscols {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        justify-content:center;
        align-items: center;
    }

    .inner-cont-third {
        height: 25%;
        color: white;
    }

    .weather {
        margin: 0 0 0 5px;
        aspect-ratio: 1/1;
        width: 2vw;
    }

    .midsection {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #121212;
        border-radius: 25px 25px 0 0;
        height: 300px;
        width: 100%;
    }

    .titlebar {
        position: sticky;
        top: 0;
        background-color: #121212;
        border-radius: 25px 25px 0 0;
        width: 100%;
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .centrwrd {
        font-size: calc(10px + 0.4vw);
        color: rgb(152 152 152);
        font-weight:300;
        margin: 0;
    }

    .iconplace {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        right: 0;
        margin-right: 3%;
        height: 100%;
        width: 30%;
    }

    .iconcontainer{
        width: 12%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .icons {
        aspect-ratio: 1/1;
        width : 2vw;
        min-width: 15px;
    }

    .border_bottom {
        border-bottom: 1px solid rgb(0 195 255);
    }

    .disptop {
        margin: 0;
        font-size: calc(8px + 0.2vw);
        font-weight: 100;
    }

    .counter {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 100%;
    }

    #countval {
        background-color: rgb(98, 98, 98);
        border: 0;
        font-size: calc(8px + 0.2vw);
        height: 16px;
        width: 40%;
        text-align: center;
        color: white;
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button {  
        opacity: 1;
        height: 16px;
    }

    .topcities {
        overflow-x: auto;
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 85%;
        width: 80%;
    }

    ::-webkit-scrollbar {
        width: 0;
        height: 0;
        background: transparent;
    }
    
    .topcity {
        background-color: #181818;
        background-image: url("../Icons_for_cities/kolkata.svg");
        background-size: cover;
        display: flex;
        flex-shrink: 0;
        flex-direction: row;
        justify-content:space-between;
        width: 24%;
        min-width: 150px;
        aspect-ratio: 1/1;
        padding: 1%;
        margin-right: 20px;
    }

    .cols {
        margin: 5%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80%;
    }

    .cityname {
        font-weight: 700;    
        font-size: calc(9px + 0.6vw);
    }

    .citydate {
        font-weight: 700;
        font-size: calc(7px + 0.5vw);
    }

    .citytime {
         font-weight: 700;      
        font-size: calc(7px + 0.5vw);
    }

    .smallericons {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .smallericoncont {
        aspect-ratio: 1/1;
        width: 20%;
        min-width: 15px;
    }

    .citypercentage {
        margin-left: 5px;
        font-size: calc(7px + 0.5vw);
    }

    .smallicons {
        height: 16%;
        display: flex;
        flex-direction: row;
    }

    .smalliconcont {
        aspect-ratio: 1/1;
        width: 35%;
    }

    .citycelsius {
        font-size: calc(10px + 0.6vw);
    }

    .midcontainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 80%;
        width: 100%;
        align-items: center;
    }

    .swapicon {
        display: flex;  
        justify-content: center;
        height: 30%;
        width: 5%;
    }

    .leftarr {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .lefticon {
        aspect-ratio: 1/1;
        width: 80%;
        min-width: 24px;
        opacity: 0.5;   
    }
}