.bottom-section {
    min-height: 40%;
    height: 40%;
    width: 100%;
    background-color: #121212;
}

.tiles-description-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 10%;
    margin: 0 5%;
    white-space: nowrap;
}

.tiles-heading {
    width: fit-content;
    height: fit-content;
    font-weight: 100;
    font-size: calc(14px + 1vw);
    display: inline;
}

.sort-tiles-container {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}

.sort-tiles{
    display: flex;
}

#tile-right-align {
    justify-content: end;
}

.sort-icon {
    padding-left: 10px;
    aspect-ratio: 1/1;
    width: 8%;
}

.sort-content {
    font-weight: 100;
    font-size: calc(10px + 0.8vw);
}

.tiles-container {
    height: 80%;
    display: grid;
    grid-template-areas: "a b c"
                        "d e f"
                        "g h i"
                        "j k l";
    margin: 1% 5%;
    grid-gap: 6%;
}

.tile-self {
    position: relative;
    display: grid;
    grid-template-areas: "a b"
                        "c d";
    background-color: #2E2E2E;
    padding : 3%;
}

.continent-temperature, .continent-humidity-container{
    justify-self: end;
    width: fit-content;
}

.continent-humidity-container {
    display: flex;
    height: 80%;
    align-items: center;
    align-self: self-end;
}

.continent-name {
    color: #FFF461;
    font-weight: 400;
}

.continent-temperature {
    font-weight: 500;
    font-size: calc(18px + 0.5vw);
}

.continent-place-time {
    height: fit-content;
    align-self: self-end;
    font-weight: 100;
}

.continent-humidity-icon {
    height: 80%;
    width: auto;
}

@media (525px <= width <= 950px) {
    .bottom-section {
        height: 60%;
    }
}